:root {
  --color-white: #FFFFFF;
  --color-grey: #949494;
  --color-blue-800: #242742;
  --color-blue-700: #36384D;
  --color-red: #FF6155;
  --gradient: linear-gradient(to right, #FF6A3A, #FF527B);
} 


@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: var(--fw-medium);
  color: var(--color-blue-800);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.signup-container > * + * {
  margin-top: 1.6rem;
}

form > * + * {
  margin-top: 1.6rem;
}

input[type="email"] {
 width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--color-blue-800);
  border: 0.0625rem solid var(--color-grey);
  border-radius: 0.5rem;
  outline: none;

}

/* Placeholder styling */
.email-input::placeholder {
  color: var(--color-grey);
  opacity: 0.7;
}

/* Label styling */
form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-blue-800);
}

.btn-primary {
  background: var(--color-blue-800);
  color: var(--color-white);
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
   background: var(--gradient);
}


/* MOBILE  */

h1 {
  font-size: 2.5rem;

}

.card-container {
  background-color: var(--color-white);
  border-radius: 2.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;


}

.image-container {
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  order: 1;
} 

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.signup-container {
  padding: 2rem;
  order: 2;   
}


ul li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 0.625rem;
}

ul li::before {
  content: url('./assets/images/icon-list.svg');
  flex-shrink: 0; /* Prevents icon from shrinking */
}

#success-card {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4rem;
}

.confirmation-message > * + * {
  margin-top: 1.6rem;
}

.success-icon-container {
  width: 3rem;
  height: 3rem;
  margin-bottom: 2rem;
}

#dismiss-btn {
  width: 100%;
  align-self: flex-end;
}
@media screen and (min-width: 48rem) {

  body {
    background-color: var(--color-blue-700);
  }
  .card-container {
    max-width: 56.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

  }

  h1 {
  font-size: 3.5rem;

}
  
  .image-container {
    width: 50%;
    margin-bottom: 0;
    flex: 1;
    order:2;
  
    
  }

  .signup-container {
    flex: 1;
    order:1;
}


}